* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 100%;
    background-color: hsl(0, 0%, 0%);
  }
  
  .cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow: hidden;
  }
  
  .cards .card {
    background-color: rgb(255, 225, 0);
    color: white;
    height: 415px;
    width: 235px;
    font-size: 4vw;
    padding: 10px;
    border-radius: 20px;
    justify-self: center;
    text-align: center;
  }
  
  .cards .avatar {
    width: 140px;
    height: 140px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    margin-bottom: 40%;
  }
  
  .cards .avatar img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid 1px;
  
  }
  
  .text-name {
    font-size: 18px;
    color: #000;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .mid {
    margin-top: 10%;
    opacity: 0;
    color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .card:hover .mid {
  
    opacity: 1;
    font-size: 14px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .card:hover .avatar {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40%;
  
  }
  
  .card:hover img {
    margin-left: 0;
    margin-right: 0;
    width: 220px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
  .Buttons {
    text-align: center;
  }
  .btnl, .btnr {
    background: transparent;
  }
  /*for tab*/
  @media (min-width:767px) and (max-width:1024px) {
    .cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        overflow: hidden;

    }

    .cards .card {
        background-color: rgb(255, 225, 0);
        color: white;
        height: 375px;
        width: 235px;
        font-size: 4vw;
        padding: 10px;
        border-radius: 20px;
        justify-self: center;
    }

    .mid {
        opacity: 1;
        font-size: 14px;
    }
    .text-name {
        font-size: 22px;
    }

}
/*for mobile*/
@media (min-width:150px) and (max-width:766px) {
    .cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        overflow: hidden;

    }

    .cards .card {
        height: 375px;
        width: 300px;
    }

    .mid {
        opacity: 1;
        font-size: 16px;
    }
    .text-name {
        font-size: 18px;
    }

    .cards .avatar {
        width: 140px;
        height: 140px;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0%;
        margin-bottom: 10%;
    }

}